// _home.scss
// (c) RiceApps 2017

$panel-width: 200px;
$nav-height: 60px;

nav {
	width: 100%;
	height: $nav-height;
	background-color: #dddddd;
}

.body {
	position: relative;
	width: 100%;
	height: calc(100% - #{$nav-height});
}

.panel {
	width: $panel-width;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: inline-block;
	margin: 0;
}

#map {
	width: calc(100% - #{$panel-width});
	height: 100%;
	position: absolute;
	top: 0px;
	left: 300px;
	display: inline-block;
	margin: 0;
}