<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Meta data -->
        <meta charset="UTF-8">
        <title>Rice Safety App Portal</title>
        <!-- Script -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        
        <!-- styles -->
        <link rel="stylesheet" href="static/css/main-update.css">

        <!-- Fix 'failed to load favicon -->
        <link rel="shortcut icon" href="#">
    </head>
    
    <body>
        <div id="app">
            <!-- Panel -->
            {% raw %}
            <div id="panel">
                <p> Panel status: {{ status }}, requestList: {{ requestList.length }}</p>
                <ol id="request-list">
                    <request-item v-for="request in requestList" v-bind:key="request.id" v-bind:val="request"></request-item>
                    <!-- <li is="request-item"></li>
                        <request-item></request-item> -->
                </ol>
                
            </div>
            {% endraw %}
        </div>

        <!-- Map -->
        <div id="map"> </div>
        
        <!-- Scripts -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMFSuTtdme517ox9FITQ0yA8ER3PL5_tw&callback=initMap"></script>
        <script>
            var gmap;
            
            function initMap() {
                gmap = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: 29.717394, lng: -95.402931},
                    zoom: 16,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    rotateControl: true,
                    fullscreenControl: true

                });
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js"></script>
        <script src="/static/js/third-party/jquery-3.3.1.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/js/scripts-vue.js"></script>
    </body>
</html>