<!-- (c) RiceApps 2017 -->
<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- meta -->
        <meta charset="UTF-8">
        <title>Rice Blue Button</title>
        <!-- styles -->
        <link rel="stylesheet" href="static/rupd_portal.css">
    </head>

    <body>
        <!-- Header -->
        <div class="header">
            <h1>RUPD Student Emergency Portal</h1>
            <nav>
                <a href="#"> Get Log </a>
                <a href="#"> File a Bug </a>
                <a href="#"> Log Out </a>
            </nav>
        </div>

        <div class="panel">
            <!-- Timestamps and Cases -->
        </div>


        <div id="map"></div>
    
        <!-- scripts -->
        <script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
        <script src="static/js/third-party/socket.io.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMFSuTtdme517ox9FITQ0yA8ER3PL5_tw&callback=initMap"></script>
        <script src="static/js/scripts.js"></script>
    </body>

</html>